@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .navLink {
    @apply text-xl ease-in duration-150 font-medium hover:text-yellow-300;
  }
  .title {
    @apply text-2xl lg:text-4xl font-bold font-fira py-4;
  }
  .btn {
    @apply px-8 py-2 border font-inter ease-in duration-150 hover:bg-yellow-300 hover:border-yellow-300 hover:text-teal-900 font-medium;
  }
  .lock {
    @apply overflow-hidden;
  }
}

html {
  scroll-behaivor: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1497384401032-2182d2687715?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
